/*
COLOR SCHEME:
Dark Cornflower Blue #17408b
White #ffffff
Philippine Red #c9082a
Black #000000
*/

:root {
    --blue: #17408b;
    --white: #ffffff;
    --red: #c9082a;
    --black: #000000;

}

/* <global> */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
}
.small-error {
    color: var(--red);
}
/* </global> */

/* <header> */
.nav-main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--red);
    text-align: center;
    word-spacing: 20px;
    font-size: 40px;
    width: 100%;
}
.link-main {
    color: var(--white);
    text-decoration: none;
}
.link-main:hover {
    color: var(--blue)
}
.img-banner {
    position: static;
    height: 500px;
    width: 100%;
}
/* </header> */

/* <index> */
main {
    top: 0;
    margin-bottom: 40px;
}
/* </index> */

/* <footer> */
footer {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    text-align: center;
}
/* </footer> */

/* <home> */
.title-primary-home {
    color: var(--blue);
    font-size: 200%;
    text-align: center;
}
.figure-home {
    float: left;
    width: 250px;
    border: 1px solid var(--black);
    padding: 5px;
    margin-top: 0;
}
.img-home {
    height: 400px;
    width: 250px;
}
.figcaption-home {
    font-style: italic;
}
.ul-home {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* </home> */

/* <news> */
.title-primary-news {
    color: var(--blue);
    font-size: 200%;
    text-align: center;
}
.title-secondary-news {
    color: var(--red);
    text-decoration: underline;
    padding-left: 5px;
}
.img-news {
    float: left;
    height: 90px;
    width: 150px;
    padding: 5px;
}
.date-news {
    font-style: italic;
    text-decoration: underline;
    padding-left: 5px;
}
/* </news> */

/* <news-article> */
.figure-news-article {
    float: left;
    border: 1px solid var(--black);
    padding: 5px;
    margin-top: 0;
}
.img-news-article {
    position: static;
    height: 500px;
    width: 100%;
}
.ul-news-article {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.ul-news-article li {
    display: inline;
    color: var(--red);
}
.title-primary-news-article {
    color: var(--blue);
    text-align: center;
}
.title-secondary-news-article {
    color: var(--blue);
}
/* </news-article> */

/* <contact> */
.iframe-contact {
    height: 500px;
    width: 100%
}
.container-contact {
    border-radius: 5px;
    padding: 20px;
}
.input-contact, .select-contact, .textarea-contact {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
/* </contact> */

/* <gallery> */
.container-gallery {
    text-align: center;
}
.figure-gallery {
    display: inline-block;
    border: 1px solid var(--black);
}
.img-gallery {
    width: 100%;
    height: 500px;
}
.figcaption-gallery {
    color: var(--red);
}
/* </gallery> */

/* <api> */
.title-primary-api {
    color: var(--blue);
    font-size: 200%;
    text-align: center;
}
.title-secondary-api {
    color: var(--blue);
    text-align: center;
}
.ul-api {
    color: var(--blue);
    text-align: center;
    list-style-type: none;
    font-size: 25px;
}
.ul-api li:not(:last-child) { 
    margin-bottom: 10px;  
 }
/* </api> */

/* <about> */
.video-about {
    width: 50%;
    height: 500px;
    float: left;
}
/* </about> */

/* <regiser> */
.input-register, .select-register {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/* </regiser> */

/* <register-success> */
.container-success-register {
    text-align: center;
}
.title-primary-success-register {
    color: var(--blue);
    font-size: 200%;
}
.img-success-register {
    margin: 10px;
}
/* </register-success> */

/* <login> */
.container-login {
    text-align: center;
}
.title-primary-login {
    color: var(--blue);
    font-size: 200%;
}
.input-login {
    width: 25%;
    padding: 12px;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/* </login> */

/* <dashboard> */
.container-dashboard {
    text-align: center;
    font-weight: bold;
}
.title-primary-dashboard {
    color: var(--blue);
    font-size: 200%;
}
/* </dashboard> */

/* <dashboard-tabs> */
.link-dashboard-tabs {
    background: var(--red);
    color: var(--white);
    display: inline;
    margin-right: 5em;
    padding: 10px;
    text-decoration: none;
}
.link-dashboard-tabs:hover {
    color: var(--blue);
}
/* </dashboard-tabs> */

/* <profile-tab> */
.title-primary-profile-tab {
    color: var(--red);
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}
.ul-profile-tab {
    color: var(--blue);
    text-align: center;
    list-style-type: none;
}
.li-profile-tab:not(:last-child) {
    margin-bottom: 1em;
}
/* </profile-tab> */

/* <create-tab> */
.title-primary-create-tab {
    color: var(--red);
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}
.form-create-tab {
    color: var(--blue);
}
.input-create-tab, .textarea-create-tab {
    width: 50%;
    padding: 12px;
    border: 1px solid var(--black);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 12px;
    margin-bottom: 16px;
    resize: vertical;
}
.button-create-tab {
    border: 0;
    color: var(--white);
    font-weight: bold;
    background-color: var(--blue);
    height: 50px;
    width: 100px;
}
.button-create-tab:hover {
    color: var(--red);
    cursor: pointer;
}
/* </create-tab> */

/* <edit-tab> */
.title-primary-edit-tab {
    color: var(--red);
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}
.table-edit-tab {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
    color: var(--blue);
}
.button-edit-tab {
    border: 0;
    color: var(--white);
    font-weight: bold;
    background-color: var(--blue);
    height: 25px;
    width: 75px;
}
.button-edit-tab:hover {
    color: var(--red);
    cursor: pointer;
}
/* <edit-article> */
.title-primary-edit-article {
    color: var(--red);
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}
.button-edit-article {
    border: 0;
    color: var(--white);
    font-weight: bold;
    background-color: var(--blue);
    height: 50px;
    width: 100px;
}
.button-edit-article:hover {
    color: var(--red);
    cursor: pointer;
}
/* </edit-article> */
/* </edit-tab> */

/* <users-tab> */
.title-primary-users-tab {
    color: var(--red);
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}
.table-users-tab {
    width: 75%;
    color: var(--blue);
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
}
.button-users-tab {
    border: 0;
    color: var(--white);
    font-weight: bold;
    background-color: var(--blue);
    height: 25px;
    width: 80px;
}
.button-users-tab:hover {
    color: var(--red);
    cursor: pointer;
}
/* </users-tab> */

.img-under-construction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}