/*
COLOR SCHEME:
Dark Cornflower Blue #17408b
White #ffffff
Philippine Red #c9082a
Black #000000
*/

:root {
    --blue: #17408b;
    --white: #ffffff;
    --red: #c9082a;
    --black: #000000;
}

/* <global> */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', serif;
}
/* </global> */

/* <header> */
.nav-main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--red);
    text-align: center;
    word-spacing: 20px;
    font-size: 40px;
    width: 100%;
}
.link-main {
    color: var(--white);
    text-decoration: none;
}
.img-banner {
    position: static;
    height: 500px;
    width: 100%;
}
/* </header> */

/* <index> */
main {
    top: 0;
}
/* </index> */

/* <footer> */
footer {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    text-align: center;
}
/* </footer> */

/* <home> */
.title-primary-home {
    color: var(--blue);
    font-size: 200%;
    text-align: center;
}
.figure-home {
    float: left;
    width: 200px;
    border: 1px solid var(--black);
    padding: 5px;
    margin-top: 0;
}
.img-home {
    height: 400px;
    width: 200px;
}
.figcaption-home {
    font-style: italic;
}
.ul-home {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* </home> */

/* <news> */
.title-primary-news {
    color: var(--blue);
    font-size: 200%;
    text-align: center;
}
.article-news {
    height: 150px;
}
.article-news:not(:last-of-type) {
    border-bottom: 1px solid var(--black);
}
.title-secondary-news {
    color: var(--red);
    text-decoration: underline;
    padding-left: 5px;
}
.img-news {
    float: left;
    height: 100px;
    width: 150px;
    padding: 5px;
}
.date-news {
    font-style: italic;
    text-decoration: underline;
    padding-left: 5px;
}
/* </news> */

.img-under-construction {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}